/**
Banner logic
*/
.banner-container {
    display: flex;
    justify-content: center;
}
.banner {
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
    height: 400px;
}

.page-title-container {
    display: flex;
    justify-content: center;
    height:100%;
}

.page-title {
    display: flex;
    align-items: center;
    width:70%;
    flex-direction: column-reverse;
}

.title-container{
    height:45%;
    display:flex;
    justify-content:center;
    align-items: center;
    width:fit-content;
}

.page-title>div {
    height:40%;
    width:100%;
    text-align: center;
    
}

.page-title>h1>div {
    display:flex;
    width:fit-content;
    text-align: center;
}

.page-title>h1>div>span {
    width: fit-content;
}