/**
Banner variables
*/
:root {
  --banner-bg-image-url: url("../../../img/template/banner.jpg");
  --banner-height: 400px;
  --banner-page-title-width: 80%;
  --banner-title-height: 25%;
  --banner-cursor-animation-duration: 1s;
}
