<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title id="title"></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="libs/normalizev8.0.1/normalize.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/banner.css" />
    <link rel="stylesheet" href="css/content.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/back-to-top.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <!-- Header -->
    <div class="header sticky dark-header">
      <div class="left-header">
        <div class="line-on-over-container">
          <a
            class="line-on-over"
            href="https://sylvainjanet.fr"
            id="backHome"
          ></a>
          <div class="line-on-over-line dark-header-content"></div>
        </div>
      </div>
      <div class="right-header">
        <div class="line-on-over-container">
          <button class="line-on-over" id="buttonLanguage"></button>
          <div class="line-on-over-line dark-header-content"></div>
        </div>
      </div>
      <div class="collapsed-header">
        <div class="deroulant">
          <div>
            <div class="collapsed-header-ico">
              <div class="dark-header-content"></div>
              <div class="dark-header-content"></div>
              <div class="dark-header-content"></div>
            </div>
          </div>
          <ul class="sous">
            <li>
              <div class="collapsed-header-item line-on-over-container">
                <a
                  href="https://sylvainjanet.fr"
                  class="line-on-over"
                  id="subMenuBackHome"
                >
                </a>
                <div class="line-on-over-line dark-header-content"></div>
              </div>
            </li>
            <li>
              <div class="collapsed-header-item line-on-over-container">
                <button class="line-on-over" id="subMenuLg"></button>
                <div class="line-on-over-line dark-header-content"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Banner -->
    <div class="banner-container">
      <div class="banner">
        <div class="page-title-container">
          <div class="page-title">
            <div>
              <h2 class="text-animated"></h2>
            </div>
            <h1 class="title-container">
              <object
                data="img/Toki_pona.svg"
                width="75"
                height="75"
                id="tokiPonaLogo"
              >
                Toki Pona Logo
              </object>
              <div>
                <span id="h1title"></span>
              </div>
            </h1>
          </div>
        </div>
      </div>
    </div>

    <!-- Content -->
    <section class="page-content-container">
      <div class="page-content">
        <p id="content1"></p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis,
          dolor! Nisi at, dolor repellendus cum corrupti, aspernatur laborum
          eius distinctio sapiente iure architecto perspiciatis cumque
          laboriosam deleniti omnis tempora incidunt! Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Omnis, dolor! Nisi at, dolor
          repellendus cum corrupti, aspernatur laborum eius distinctio sapiente
          iure architecto perspiciatis cumque laboriosam deleniti omnis tempora
          incidunt! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Omnis, dolor! Nisi at, dolor repellendus cum corrupti, aspernatur
          laborum eius distinctio sapiente iure architecto perspiciatis cumque
          laboriosam deleniti omnis tempora incidunt! Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Omnis, dolor! Nisi at, dolor
          repellendus cum corrupti, aspernatur laborum eius distinctio sapiente
          iure architecto perspiciatis cumque laboriosam deleniti omnis tempora
          incidunt! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Omnis, dolor! Nisi at, dolor repellendus cum corrupti, aspernatur
          laborum eius distinctio sapiente iure architecto perspiciatis cumque
          laboriosam deleniti omnis tempora incidunt! Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Omnis, dolor! Nisi at, dolor
          repellendus cum corrupti, aspernatur laborum eius distinctio sapiente
          iure architecto perspiciatis cumque laboriosam deleniti omnis tempora
          incidunt! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Omnis, dolor! Nisi at, dolor repellendus cum corrupti, aspernatur
          laborum eius distinctio sapiente iure architecto perspiciatis cumque
          laboriosam deleniti omnis tempora incidunt! Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Omnis, dolor! Nisi at, dolor
          repellendus cum corrupti, aspernatur laborum eius distinctio sapiente
          iure architecto perspiciatis cumque laboriosam deleniti omnis tempora
          incidunt! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Omnis, dolor! Nisi at, dolor repellendus cum corrupti, aspernatur
          laborum eius distinctio sapiente iure architecto perspiciatis cumque
          laboriosam deleniti omnis tempora incidunt! Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Omnis, dolor! Nisi at, dolor
          repellendus cum corrupti, aspernatur laborum eius distinctio sapiente
          iure architecto perspiciatis cumque laboriosam deleniti omnis tempora
          incidunt!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint in
          natus, ut a odit vero dignissimos iure tempore dolores, dolorem
          expedita. Recusandae, error ex. Repellendus id quod iste adipisci
          ratione! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Sint in natus, ut a odit vero dignissimos iure tempore dolores,
          dolorem expedita. Recusandae, error ex. Repellendus id quod iste
          adipisci ratione! Lorem, ipsum dolor sit amet consectetur adipisicing
          elit. Sint in natus, ut a odit vero dignissimos iure tempore dolores,
          dolorem expedita. Recusandae, error ex. Repellendus id quod iste
          adipisci ratione! Lorem, ipsum dolor sit amet consectetur adipisicing
          elit. Sint in natus, ut a odit vero dignissimos iure tempore dolores,
          dolorem expedita. Recusandae, error ex. Repellendus id quod iste
          adipisci ratione! Lorem, ipsum dolor sit amet consectetur adipisicing
          elit. Sint in natus, ut a odit vero dignissimos iure tempore dolores,
          dolorem expedita. Recusandae, error ex. Repellendus id quod iste
          adipisci ratione! Lorem, ipsum dolor sit amet consectetur adipisicing
          elit. Sint in natus, ut a odit vero dignissimos iure tempore dolores,
          dolorem expedita. Recusandae, error ex. Repellendus id quod iste
          adipisci ratione! Lorem, ipsum dolor sit amet consectetur adipisicing
          elit. Sint in natus, ut a odit vero dignissimos iure tempore dolores,
          dolorem expedita. Recusandae, error ex. Repellendus id quod iste
          adipisci ratione! Lorem, ipsum dolor sit amet consectetur adipisicing
          elit. Sint in natus, ut a odit vero dignissimos iure tempore dolores,
          dolorem expedita. Recusandae, error ex. Repellendus id quod iste
          adipisci ratione! Lorem, ipsum dolor sit amet consectetur adipisicing
          elit. Sint in natus, ut a odit vero dignissimos iure tempore dolores,
          dolorem expedita. Recusandae, error ex. Repellendus id quod iste
          adipisci ratione! Lorem, ipsum dolor sit amet consectetur adipisicing
          elit. Sint in natus, ut a odit vero dignissimos iure tempore dolores,
          dolorem expedita. Recusandae, error ex. Repellendus id quod iste
          adipisci ratione!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          excepturi voluptate earum doloribus beatae odit voluptas error
          distinctio dolor eligendi sint possimus, nulla culpa aperiam ipsum
          temporibus maxime! Nesciunt, ex! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Veritatis excepturi voluptate earum
          doloribus beatae odit voluptas error distinctio dolor eligendi sint
          possimus, nulla culpa aperiam ipsum temporibus maxime! Nesciunt, ex!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          excepturi voluptate earum doloribus beatae odit voluptas error
          distinctio dolor eligendi sint possimus, nulla culpa aperiam ipsum
          temporibus maxime! Nesciunt, ex! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Veritatis excepturi voluptate earum
          doloribus beatae odit voluptas error distinctio dolor eligendi sint
          possimus, nulla culpa aperiam ipsum temporibus maxime! Nesciunt, ex!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          excepturi voluptate earum doloribus beatae odit voluptas error
          distinctio dolor eligendi sint possimus, nulla culpa aperiam ipsum
          temporibus maxime! Nesciunt, ex! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Veritatis excepturi voluptate earum
          doloribus beatae odit voluptas error distinctio dolor eligendi sint
          possimus, nulla culpa aperiam ipsum temporibus maxime! Nesciunt, ex!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          excepturi voluptate earum doloribus beatae odit voluptas error
          distinctio dolor eligendi sint possimus, nulla culpa aperiam ipsum
          temporibus maxime! Nesciunt, ex! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Veritatis excepturi voluptate earum
          doloribus beatae odit voluptas error distinctio dolor eligendi sint
          possimus, nulla culpa aperiam ipsum temporibus maxime! Nesciunt, ex!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          excepturi voluptate earum doloribus beatae odit voluptas error
          distinctio dolor eligendi sint possimus, nulla culpa aperiam ipsum
          temporibus maxime! Nesciunt, ex! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Veritatis excepturi voluptate earum
          doloribus beatae odit voluptas error distinctio dolor eligendi sint
          possimus, nulla culpa aperiam ipsum temporibus maxime! Nesciunt, ex!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis omnis
          aut, commodi impedit dignissimos doloremque eius consectetur iste quia
          adipisci doloribus corrupti inventore sit labore perferendis
          quibusdam, nulla molestias vero! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Nobis omnis aut, commodi impedit
          dignissimos doloremque eius consectetur iste quia adipisci doloribus
          corrupti inventore sit labore perferendis quibusdam, nulla molestias
          vero! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis
          omnis aut, commodi impedit dignissimos doloremque eius consectetur
          iste quia adipisci doloribus corrupti inventore sit labore perferendis
          quibusdam, nulla molestias vero! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Nobis omnis aut, commodi impedit
          dignissimos doloremque eius consectetur iste quia adipisci doloribus
          corrupti inventore sit labore perferendis quibusdam, nulla molestias
          vero! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis
          omnis aut, commodi impedit dignissimos doloremque eius consectetur
          iste quia adipisci doloribus corrupti inventore sit labore perferendis
          quibusdam, nulla molestias vero! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Nobis omnis aut, commodi impedit
          dignissimos doloremque eius consectetur iste quia adipisci doloribus
          corrupti inventore sit labore perferendis quibusdam, nulla molestias
          vero! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis
          omnis aut, commodi impedit dignissimos doloremque eius consectetur
          iste quia adipisci doloribus corrupti inventore sit labore perferendis
          quibusdam, nulla molestias vero! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Nobis omnis aut, commodi impedit
          dignissimos doloremque eius consectetur iste quia adipisci doloribus
          corrupti inventore sit labore perferendis quibusdam, nulla molestias
          vero! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis
          omnis aut, commodi impedit dignissimos doloremque eius consectetur
          iste quia adipisci doloribus corrupti inventore sit labore perferendis
          quibusdam, nulla molestias vero! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Nobis omnis aut, commodi impedit
          dignissimos doloremque eius consectetur iste quia adipisci doloribus
          corrupti inventore sit labore perferendis quibusdam, nulla molestias
          vero!
        </p>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <p>
        <span id="footer"></span
        ><a href="https://sylvainjanet.fr" id="footerLink"></a>
      </p>
    </footer>

    <!-- Back to top icon -->
    <a href="#" class="back-to-top"
      ><object
        data="img/arrow_top_up_icon.svg"
        width="60"
        height="60"
        id="backToTopIcon"
      >
        Back to top icon
      </object></a
    >

    <script src="scripts/changeLanguage.js" async defer type="module"></script>
    <script src="scripts/setMessages.js" async defer type="module"></script>
    <script
      src="scripts/animations/barOnHover.js"
      async
      defer
      type="module"
    ></script>
    <script
      src="scripts/animations/headerScroll.js"
      async
      defer
      type="module"
    ></script>
    <script
      src="scripts/animations/textAnimated.js"
      async
      defer
      type="module"
    ></script>
    <script
      src="scripts/animations/backToTop.js"
      async
      defer
      type="module"
    ></script>
  </body>
</html>
