/**
Back to top icon at the bottom of the display
*/
.back-to-top {
  position: fixed;
  background: var(--dark-header-background-color);
  width: var(--back-to-top-size);
  height: var(--back-to-top-size);
  border-radius: 50%;
  right: var(--back-to-top-right);
  bottom: var(--back-to-top-bottom);
  opacity: 0;
  transition: opacity var(--back-to-top-transition-duration);
}

.back-to-top object {
  width: var(--back-to-top-size);
  height: var(--back-to-top-size);
  pointer-events: none;
}
