/**
Banner logic
*/
.banner-container {
  display: flex;
  justify-content: center;
}
.banner {
  background-image: var(--banner-bg-image-url);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: var(--header-height);
  height: var(--banner-height);
}

.page-title-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.page-title {
  height: 100%;
  display: flex;
  align-items: center;
  width: var(--banner-page-title-width);
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

.title-container {
  height: var(--banner-title-height);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-top: 0;
  margin-bottom: 0;
}

.page-title > div {
  height: max-content;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.page-title > div > h2 {
  height: fit-content;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.page-title > div > span {
  height: fit-content;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.page-title > h1 > div {
  display: flex;
  width: fit-content;
  text-align: center;
}

#h1title {
  width: fit-content;
}

.text-animated {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
}

/**
Animation of the blinking cursor
*/
.blink {
  border-right-style: solid;

  opacity: 1;
  animation-duration: var(--banner-cursor-animation-duration);
  animation-iteration-count: infinite;
  animation-name: blink;
  animation-timing-function: steps(2, jump-none);
  padding-left: 0.15em;
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
